<button
  id="button1"
  tabindex="0"
  (click)="toggleDropdown()"
  [disabled]='disabled'
  [ngClass]="{ 'required': required, 'dropdown-visible':isDropdownVisible }"
  class="dropdown__btn"
  type="button"
  (keydown)="_handleKeydown($event)">
  <span *ngIf="!(selectedOption?.selected)" class="custom-placeholder">
    {{ placeholder }}
  </span>
  <span *ngIf="selectedOption?.selected" class="value">
    {{ selectedOption?.element?.nativeElement?.textContent?.trim() }}
  </span>
  <svg class="dropdown__icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
    <path d="M0-.75h24v24H0z" fill="none"/>
  </svg>
</button>
<div class="dropdown__layer"
    role="menu"
    *ngIf="isDropdownVisible">
  <ng-content></ng-content>
</div>
